<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703571581697-jstmn7nqbpt9g0sqgcfavaeq0sgqs6tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703571581697-jstmn7nqbpt9g0sqgcfavaeq0sgqs6tu</string>
	<key>API_KEY</key>
	<string>AIzaSyBkdYKkCP4Pfrj_zutLKVVBJ1bk07W7O04</string>
	<key>GCM_SENDER_ID</key>
	<string>703571581697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysoft.M6-L8-Task1</string>
	<key>PROJECT_ID</key>
	<string>ios-post-task</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-post-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703571581697:ios:a53a138cb3d6322afc9900</string>
</dict>
</plist>